.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.videoContainer {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.controls {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.controls button {
  height: 2rem;
  flex: 0 0 calc(50% - 0.5rem);
  margin: 1rem 0 0;
}

.controls .mainButton {
  height: 3rem;
  width: 100%;
  flex: 0 0 100%;
}
