.container {
  width: 100%;
  height: 100%;
  /* max-width: 375px; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.videoContainer {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lyrics {
  margin-top: 2rem;
  margin-bottom: auto;
  position: relative;
}

.lyrics span {
  display: inline-block;
  margin-right: 0.5ch;
}

.lyrics p {
  left: 0;

  text-transform: uppercase;

  width: 100%;
  align-items: center;

  font-size: 1.1rem;
  margin: 0 0 0.5rem;
}

.previousLine {
  bottom: 120%;
}

.nextLine {
  top: 120%;
  opacity: 0.1;
}

.currentLines {
  position: relative;
}

.currentLine span:last-of-type {
  color: red;
}

.currentLinePreview {
  opacity: 0.1;
}

p.currentLine,
p.currentLinePreview {
  font-size: 1.7rem;
}

.currentLine {
  position: absolute;
  top: 0;
  left: 0;
}

.controls {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.controls button {
  height: 2rem;
  flex: 0 0 calc(50% - 0.5rem);
  margin: 1rem 0 0;
}

.controls .mainButton {
  height: 3rem;
  width: 100%;
  flex: 0 0 100%;
}
